body {
	height: 100%;
	max-width: 1200px;
	margin-inline: auto;
	font-family: $main-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
}
a {
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: inherit;
}
a:focus,
a:active {
	outline: none;
}
[class^='icon-'],
[class*=' icon-'] {
	font-family: 'icomoon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
