body {
	@include font-styles($main-font, 400, $base-font-size, $base-line-height);
	max-width: 1200px;
	height: 100%;
	margin-inline: auto;
}
a {
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: inherit;
}
a:focus,
a:active {
	outline: none;
}

