@mixin сonnection-fonts(
	$name-font,
	$style-font: normal,
	$width-font: 400,
	$path-font
) {
	@font-face {
		font-family: $name-font;
		font-style: $style-font;
		font-weight: $width-font;
		font-display: swap;
		src: url('#{$path-font}.woff2') format('woff2'),
			/* в случае надобности можно добавить local(точное название шрифта, чувствителен к регистру) */
				url('#{$path-font}.woff') format('woff');
	}
}

@mixin font-styles(
	$font-weight: $font-weight,
	$font-size: $base-font-size,
	$line-height: $base-line-height
) {
	font-weight: $font-weight;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
}
