.icon-favorite:before {
	content: '\e900';
}
.icon-search:before {
	content: '\e901';
}
.icon-yu:before {
	content: '\e902';
}
.icon-tg:before {
	content: '\e903';
}
.icon-vk:before {
	content: '\e904';
}
