.greetings {
	// .greetings__container
	&__container {
		min-height: 485px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	&__container::after {
		content: '';
		background: url('../imgs/section/greetings/divider.png') no-repeat
			center/cover;
		position: absolute;
		width: 100%;
		min-height: 57px;
		bottom: 0;
	}
	// .greetings__title
	&__title {
		margin-bottom: 25px;
	}
	&__img {
	}
}
